* {
  font-family: "Fira Sans", sans-serif;
}
.display-4 {
  text-align: center;
}

#today-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 1;
  border-style: groove;
  height: 50%;
}

#city-name {
  font-size: 40px;
  padding: 10px;
}

#temp {
  padding: 10px;
}

#humid {
  padding: 10px;
}

#win-speed {
  padding: 10px;
}

#uv-index {
  padding: 10px;
}

.custom-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#today-weather {
  background-color: grey;
}

#day-card {
  background-color: #4169e1;
  width: 19.5%;
  color: white;
  border-radius: 5px;
  padding: 20px;
}

#forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

li {
  cursor: pointer;
}

#child-container {
  display: flex;
  flex-direction: row;
}
