* {
  font-family: 'Fira Sans', sans-serif;
}
.display-4 {
  text-align: center;
}


#today-weather {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 2;
  border-style: groove;
}

#city-name{
  font-size: 40px;
}
.custom-nav{
  display:flex;
  flex-direction:row;
  justify-content:center;
}